* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
}

td,
th {
	width: 6rem;
	height: 2rem;
	padding: 5px;
	text-align: center;
}
table {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navLink {
	color: inherit;
	text-decoration: none;
}

.navLink:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.color-picker {
	border: 0px;
	border: none;
	background-color: rgba(127, 255, 212, 0);
	height: 40px;
}

.not-curr-letter {
	border: unset !important;
}
.curr-letter {
	box-sizing: border-box;
	animation: flash 0.7s infinite;
}

@keyframes flash {
	0%,
	100% {
		border-left-style: inset;
	}

	50% {
		border-left-style: solid;
	}
}
