* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font-family: monospace;
	height: 100%;
}
#root {
	height: 100%;
	display: flex;
	justify-content: center;
}

td,
th {
	width: 6rem;
	height: 2rem;
	padding: 5px;
	text-align: center;
}
.noteslist-input {
	height: 20px;
	background: transparent;
	margin: 10px auto;
	width: 100%;
	font-size: 1.4rem;
	margin: 0;
	margin-bottom: 1.6rem;
	padding-bottom: 10px;
	text-align: center;
}
.noteslist-input:focus {
	outline: none;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-columnDirection {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 4rem 0;
}
table {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navLink {
	color: inherit;
	text-decoration: none;
}

.navLink:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.margin-y {
	margin: 4rem 0;
}

.paddingTyper {
	padding: 5rem;
}
.color-picker {
	border: 0px;
	border: none;
	background-color: rgba(127, 255, 212, 0);
	height: 40px;
}

.not-curr-letter {
	border-left: 0.2rem solid transparent !important;
}
.curr-letter {
	animation: flash 0.7s infinite;
}

.fullW {
	width: 100%;
}
.fullH {
	height: 100%;
}

@keyframes flash {
	0%,
	100% {
		border-left-style: inset;
	}

	50% {
		border-left-style: solid;
	}
}
