* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
}

.color-picker {
	border: 0px;
	border: none;
	background-color: rgba(127, 255, 212, 0);
	height: 40px;
}

.not-curr-letter {
	border: unset !important;
}
.curr-letter {
	box-sizing: border-box;
	animation: flash 0.7s infinite;
}

@keyframes flash {
	0%,
	100% {
		border-left-style: inset;
	}

	50% {
		border-left-style: solid;
	}
}
